@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using RebatesWebApi.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "TARMAC Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="alert-info alert" style="padding-top: 5px;">
            <div class="row">
                <div class="col-md-12">
                    <i class="glyphicon glyphicon-info-sign" style="font-size: 3em;"></i>
                    <p style="font-size: 20px;">Introduction </p>
                    <hr />
                </div>
            </div>
            <p class="bg-info">
                Use the links provided below to access the documentation for each API.
                <br />

                All API's are based on REST and their content can be provided either in XML or JSON
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
